
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.usa-map {
    background-image: url("images/usa-map.png"); 
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 64.5%; 
}

.map {
    position: relative; 
    width: 100%; 
    max-width: 800px; 
}

.map img {
    width: 100%; 
}

.map-dot {
    position: absolute; 
    width: 10px; 
    height: 10px; 
    background-color: red; 
    border-radius: 50%;
    cursor: pointer; 
}


#Nevada {
    left: 125px; 
    top: 190px; 
}

#Alabama {
    right:245px;
    top:350px;
}

#Alaska {
   left:110px;
   bottom: 110px;
}

#Arizona {
    left: 175px;
    bottom: 235px;
}

#Arkansas {
   right:330px;
   bottom: 230px;
}

#California {
    left: 85px;
    bottom: 280px;
}

#Colorado {
    left:270px;
    bottom: 305px;
}

#Connecticut {
    top:162px;
    right:75px;
}

#Delaware {
   right:100px;
   top: 220px;
}

#Florida {
 right: 155px;
 bottom: 105px;
}

#Georgia {
    right: 190px;
    bottom: 190px;
}

#Hawaii {
   bottom: 65px;
   left: 250px;
}

#Idaho {
   top: 125px;
   left: 165px;
}

#Illinois {
    top: 210px;
    right: 295px;
}

#Indiana {
    top: 210px;
    right: 250px;
}

#Iowa {
    top: 180px;
    right: 350px;
}

#Kansas {
    top: 245px;
    right: 425px;
}

#Kentucky {
   right: 230px;
   bottom: 275px;
}

#Louisiana {
    right: 330px;
    bottom: 150px;

}

#Maine {
   top: 75px;
   right: 50px;
}

#Maryland {
    right:125px;
    top: 215px;
}

#Massachusetts {
    top:145px;
    right:70px;
}

#Michigan {
    top: 160px;
    right: 240px;
}

#Minnesota {
    top: 120px;
    right: 370px;
}

#Mississippi {
    right:290px;
    top:350px;
}

#Missouri {
    right:330px;
    bottom: 280px;
}

#Montana {
    top: 80px;
   left: 230px;
}

#Nebraska {
    top: 185px;
    right: 440px;
}

#NewHampshire {
    top: 120px;
    right: 73px;
}

#NewJersey {
    right:95px;
   top: 190px;
}

#NewMexico {
    left: 260px;
    bottom: 220px;
}

#NewYork {
    top: 145px;
    right: 120px;
}

#NorthCarolina {
    bottom: 253px;
    right: 140px;
}

#NorthDakota {
   top: 80px;
   left: 350px;
}

#Ohio {
  top: 200px;
  right: 205px;
}

#Oklahoma {
    bottom: 235px;
    left: 380px;
}

#Oregon {
   top: 100px;
   left: 90px;
}

#Pennsylvania {
    right: 140px;
    top: 180px;
}

#RhodeIsland {
    right: 62px;
    top: 160px;
}

#SouthCarolina {
    bottom: 225px;
    right: 165px;
}

#SouthDakota {
    top: 135px;
    left: 350px;
}

#Tennessee {
   bottom: 240px;
   right: 250px;
}

#Texas {
    bottom: 170px;
    left: 356px;
}

#Utah {
   top: 210px;
   left: 190px;
}

#Vermont {
    top: 120px;
    right: 90px;
}

#Virginia {
    top: 245px;
    right: 135px;
}

#Washington {
    top: 45px;
    left: 105px;
}

#WestVirginia {
   right: 170px;
   top: 225px;
}

#Wisconsin {
    top: 130px;
    right: 310px;
}

#Wyoming {
   left: 250px;
   top: 150px;
}




.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}


footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer a:hover {
    color: #ff0000;
}
